<% @page_title = "Admin Delete Confirmation"%>
<div class="buttons" style="width: 1000px;margin:auto;margin-bottom: 10px;">
	<div class="back-link">
		<%= link_to("Back to pages", {:action => 'index'}) %>
	</div>
</div>
<div class="page-delete">
	<p> Do you want to delete <b><%= @admin.first_name %></b> permanently? </p>
	<%= form_for(:page,:html => {:multipart => true}, :url => {:action => 'destroy', :id => @admin.id}) do |f| %>
		<%= submit_tag("Delete Admin") %>
	<% end %>
</div>