<% @page_title = "View Admin"%>
<div class="buttons" style="width: 1000px;margin:auto;margin-bottom: 10px;">
	<div class="back-link">
		<%= link_to("Back to Pages", {:action => 'index'}) %>
	</div>
</div>
<div class="page-show">		
	<div class="view">
		<ul>
			<li>
				<h4>Name : </h4>
				<p><%= @admin.first_name + " " + @admin.last_name %></p>
			</li>
			<li>
				<h4>E-mail : </h4>
				<p><%= @admin.email %></p>
			</li>
			<li>
				<h4> Username :  </h4>
				<p> <%= @admin.username %> </p>
			</li>
		</ul>	
	</div>
</div>