<% @page_title = "Section Delete Confirmation"%>
<div class="buttons" style="width: 1000px;margin:auto;margin-bottom: 10px;">	
	<div class="back-link">
			<%= link_to("Back to sections", {:action => 'index', :page_id => @page.id}) %>
	</div>
</div>
<div class="page-delete">
	<p> Do you want to delete <%= @section.name %> permanently ? </p>
	<%= form_for(:section,:html => {:multipart => true}, :url => {:action => 'destroy', :id => @section.id, :page_id => @page.id}) do |f| %>
		<%= submit_tag("Delete section") %>
	<% end %>
</div>