<% @page_title = "New Section"%>
<div class="page-form">
  <div class="buttons">
      <div class="back-link">
            <%= link_to("Back to Sections", {:action => 'index', :page_id => @page.id}) %>
      </div>
  </div>

	<div class="form">
        
     <%= form_for(:section, :url => {:action => 'create', :page_id => @page.id}, :html => {:multipart => true}) do |f| %>
     <div id="inner-form">
       <%= render(:partial => 'form', :locals => {:f => f}) %>
      </div>
	    <div class="buttons">
        <%= submit_tag("Create Section") %>
      </div>
    <% end %>
  </div>
</div>