<% @page_title = "New Page"%>
<div class="page-form">
      <div class="buttons">
            <div class="back-link">
                  <%= link_to("Back to Pages", {:action => 'index'}) %>
            </div>
      </div>
	<div class="form">
		<%= form_for(:page,:html => {:multipart => true}, :url => {:action => 'create'}) do |f| %>
                  <div id="inner-form">
                        <%= render(:partial => 'form', :locals => {:f => f}) %>       
                  </div>
                  <div class="buttons">
                        <%= submit_tag("Create Page") %>
                  </div>
            <% end %>
	</div>
</div>