html,body
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 84.5%;
	background-image:  url('/assets/pattern21.png');
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.mainHeader
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
	border-bottom: 5px solid #FFA52A;
}
.logo
{
	padding: 1% 4%;
	width: 30%;
	float: left;
}
.mainHeader h2
{

	border-top: 4px solid #666666;
	border-bottom: 4px solid #666666;
	color: #FFA52A;
	width: 65%;
	float: left;
	font-size: 180%;
	margin: 8% 0 0 3%;
	text-align: center;
	padding: 1px 0 1px 0;
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	text-shadow:
			   -1px -1px 0 #000,  
			    1px -1px 0 #000,
			    -1px 1px 0 #000,
			     1px 1px 0 #000;
}
.mainHeader img
{
	width: 30%;
	height: auto;
	float: left;
}
.mainHeader nav
{
	width: 30%;
	float: left;
	margin: 5.5% 0 0 2%;

}
.mainHeader nav ul
{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.mainHeader nav ul li
{
	display: inline-block;

}
.mainHeader nav ul li a
{
	color: #FFA52A;
	font-size: 17px;	
	padding: 0 15px;
	/*font-weight: bold;*/

}
a
{
	text-decoration: none;
}
.search
{
	float: right;
	width: 25%;
	margin: 5% 3% 0 0;
}
.search input[type="text"]
{
	height: 15px;
	width: 200px;
	color: #2c3e50;
	font-size: 14px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border:1px solid #aaa;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding:5px 8px;
}
.search input[type="submit"]
{
	width: 70px;
	height: 28px;
	color: #2c3e50;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	background: #F9C98A;
	display: inline-block;
	text-align: center;
	border: 1px solid #F8B562;
}

#about-wrap
{
	width: 95%;
	padding: 2% 0;
	margin: 0 auto;
	overflow: hidden;
	min-height: 96.8%;
	z-index: 2;
	background: white;
	box-shadow: 0px 20px 20px 0px #c5c5c5;
	h2
	{
		color: #f74447;
		width: 45%;
		margin-left: 7%;
	}	
	#left-wrap
	{
		max-width: 45%;
		padding: 0 5%;
		float: left;
		border-right: 2px solid #d5d5d5;
		margin-bottom: 3%;
		h3
		{
			width: 45%;
			margin: auto;
			text-align: center;
			margin-bottom: 6%;
			color: #f74447;
			border-bottom: 2px solid #f74447;
		}
		p
		{
			color: #2c3e50;
			font-size: 16px;
		}
		#author-wrap
		{
			width: 100%;
			margin: auto;
			overflow: hidden;
			.author
			{

				width: 30%;
				margin: 0 3%;
				float: left;
				img
				{
					display: block;
					width: 90%;
					margin: 0 auto;
					border-radius: 100%;
				}
				h4
				{
					color: #f74447;
					text-align: center;
				}
				p
				{
					font-size: 14px;
					color: #2c3e50;
				}
			}	 
		}
	}
	#right-wrap
	{
		width: 37%;
		margin: auto;
		display: inline-block;
		padding-left: 4%;
		h3
		{
			width: 50%;
			margin: auto;
			text-align: center;
			margin-bottom: 20px;
			color: #f74447;
			border-bottom: 2px solid #f74447;
		}		
		img
		{
			border-radius: 100%;
			float: left;
			padding-right: 10px;	
		}
		p
		{
			margin-left: 4%;
			color: #2c3e50;
		}
	}
}
span.large
{
	font-size: 40px;
}
.mainFooter
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
}
.mainFooter p
{
	width: 25%;
	margin: 1% 7%;
	color: #F3B562;
	font-size: 14px;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	
	.logo
	{
		width: 90%;
	}
	.mainHeader img
	{
		width: 33%;
		height: auto;
		float: left;
		padding-left: 3%;
	}
	.mainHeader h2
	{

		border-top: 4px solid #666666;
		border-bottom: 4px solid #666666;
		color: #FFA52A;
		width: 55%;
		float: left;
		font-size: 190%;
		margin: 8% 0 0 3%;
		text-align: center;
		padding: 1px 0 1px 0;
		font-weight: normal;
		font-family: 'Pacifico', cursive;
		text-shadow:
				   -1px -1px 0 #000,  
				    1px -1px 0 #000,
				    -1px 1px 0 #000,
				     1px 1px 0 #000;
	}
	.mainHeader nav
	{
		width: 98%;
		float: left;
		text-align: center;

	}
	.search
	{
		float: left;
		width: 98%;
		margin: 5% 2%;
		text-align: center;
	}
	.mainFooter p
	{
		width: 100%;
		text-align: center;
		margin: 5% 0;
		color: #F3B562;
		font-size: 14px;
	}
	#about-wrap
	{
		width: 92%;
		padding: 2% 0;
		margin: 0 auto;
		overflow: hidden;
		min-height: 96.8%;
		background: white;
		box-shadow: 0px 20px 20px 0px #c5c5c5;
		h2
		{
			color: #f74447;
			width: 85%;
			text-align: center;
		}	
		#left-wrap
		{
			max-width: 98%;
			padding: 0 5%;
			float: left;
			border-right: 2px solid #d5d5d5;
			margin-bottom: 3%;
			h3
			{
				width: 80%;
				margin: 0 auto;
				text-align: center;
				margin-bottom: 6%;
				color: #f74447;
				border-bottom: 2px solid #f74447;
			}
			p
			{
				color: #2c3e50;
				font-size: 16px;
			}
			#author-wrap
			{
				width: 100%;
				margin: auto;
				overflow: hidden;
				.author
				{

					width: 40%;
					margin: 0 4%;
					float: left;
					img
					{
						display: block;
						width: 90%;
						margin: 0 auto;
						border-radius: 100%;
					}
					h4
					{
						color: #f74447;
						text-align: center;
					}
					p
					{
						font-size: 14px;
						color: #2c3e50;
					}
				}	 
			}
		}
		#right-wrap
		{
			width: 100%;
			margin: auto;
			display: inline-block;
			padding-left: 4%;
			h3
			{
				width: 50%;
				margin: auto;
				text-align: center;
				margin-bottom: 20px;
				color: #f74447;
				border-bottom: 2px solid #f74447;
			}		
			img
			{
				width: 45%;
				border-radius: 100%;
				float: left;
				padding-right: 10px;	
			}
			p
			{
				width: 90%;
				margin-left: 4%;
				color: #2c3e50;
				font-size: 14px;
			}
		}
	}
}