body
{
	background-image: url('pattern21.png');
	font-size: 87.5%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
}
.public-body
{
	width: 100%;
	margin: 0 auto;
	clear: both;
}
a
{
	text-decoration: none;
}
.mainHeader
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
	border-bottom: 5px solid #FFA52A;
}
.logo
{
	/*overflow: hidden;*/
	padding: 1% 4%;
	width: 30%;
	/*border: 2px solid white;*/
	float: left;
}
.mainHeader h2
{

	border-top: 4px solid #666666;
	border-bottom: 4px solid #666666;
	color: #FFA52A;
	width: 65%;
	float: left;
	font-size: 210%;
	margin: 8% 0 0 3%;
	text-align: center;
	padding: 1px 0 1px 0;
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	text-shadow:
			   -1px -1px 0 #000,  
			    1px -1px 0 #000,
			    -1px 1px 0 #000,
			     1px 1px 0 #000;
}
.mainHeader img
{
	width: 30%;
	height: auto;
	float: left;
}
.mainHeader nav
{
	width: 30%;
	float: left;
	margin: 5.5% 0 0 2%;

}
.mainHeader nav ul
{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.mainHeader nav ul li
{
	display: inline-block;

}
.mainHeader nav ul li a
{
	color: #FFA52A;
	font-size: 17px;	
	padding: 0 15px;
	/*font-weight: bold;*/

}
.search
{
	float: right;
	width: 25%;
	margin: 5% 3% 0 0;
}

.mainContent
{
	width: 90%;
	background: white;
	box-shadow: 0px 20px 20px 0px #c5c5c5;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	/*border: 2px solid black;*/
}
.content 
{
	border-right: 2px solid #d5d5d5;
	margin: 2% 0 2% 2%;
	float: left;
	width: 65%;
}
.content article
{
	/*width: 60%;*/
	margin: 0 4%;
	padding: 4% 0;
	float: left;
	border-bottom: 1px solid #d5d5d5;

}
.content article .content-image
{
	float: left;
	width: 45%;
}
.content article .right-content
{
	width: 55%;
	float: left;
}
.content article h2
{
	margin: 0;
}
.content article h2 a
{
	color: #de3033;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}
.content .page-info
{
	color: #989ca0;
	font-size: 13px;
}
.content content p
{
	font-size: 15px;
	color: #2c3e50;
}
.content content a
{
	float: right;
	color: #f74447;
	font-size: 16px;

}
.mainContent aside
{
	width: 23%;
	float: left;
	margin: 5% 4% 0% 4%;
	border-bottom: 2px solid #de3033;
	/*margin-bottom: 3%;*/
}
.mainContent aside article h2
{
	margin: auto;
	text-align: center;
	font-size: 24px;
	color: #2C3E50;
	padding-bottom: 2%;
	border-bottom: 2px solid #de3033;
}
.mainContent aside article ul li
{
	text-align: left;
	margin-left: -10px;
	padding: 10px 0px;
	border-bottom: 1px solid #2C3E50;
	text-decoration: none;
	font-size: 14px;
	
}
.mainContent aside article a
{
	color: #2C3E50;
}
.mainContent aside article ul li:last-child
{
	padding: 10px 0px;
	border-bottom: 0px solid #2C3E50;
}

.search input[type="text"]
{
	height: 15px;
	width: 200px;
	color: #2c3e50;
	font-size: 14px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border:1px solid #aaa;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding:5px 8px;
}
.search input[type="submit"]
{
	width: 70px;
	height: 28px;
	color: #2c3e50;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	background: #F9C98A;
	display: inline-block;
	text-align: center;
	border: 1px solid #F8B562;
}

.mainFooter
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
}
.mainFooter p
{
	width: 25%;
	margin: 1% 7%;
	color: #F3B562;
	font-size: 14px;
}

/*style for view page starts*/
.view-title h2
{
	color: #de3033;
	font-size: 28px;
	font-weight: bold;
	padding: 0 0 4% 0; 
}
.main_img img
{
	width: 99%;
	height: auto;
}
.page-content
{
	width: 100%;
	/*border: 2px solid black;*/
}
.page-content img
{
	width: 99%;
	height: auto;
}
.page-content h3
{
	color: #2C3E50;
	font-size: 20px;
	font-weight: bold;	
}

.page-content p
{
	color: #2C3E50;
	font-size: 15px;
}
.page-content span
{
	background-color: rgba(255,255,255,0.4);
	/*color: #2C3E50;*/
	font-size: 16px;
	position: relative;
	top: -30px;
	border-left: 5px solid green;
	padding-left: 5px;
	padding-right: 5px;
}
/*style for view page ends */


/***********contact us form starts************************************************/

.contact-me
{
	width: 80%;
	margin: auto;
	margin-top: 3%;
	/*border: 5px solid rgba(220,215,220,0.5);*/
	border-radius: 5px;
	/*box-shadow: 1px 2px 10px #AFAFAF;*/
	margin-bottom: 2%;
	h1
	{
		width: 90%;
		margin: auto;
		padding: 2%;
		color: #2c3e50;
		overflow: auto;
	}
	form
	{
		padding-bottom: 3%;
		width: 65%;
		margin: auto;
		color: #2c3e50;
		.field_with_errors
		{
			input[type="text"],textarea
			{
				border-top: 2px solid rgba(231, 76, 60, 0.7);	
				border-radius: 2px;
			}
			
		}
		label
		{
			width: 15%;
			float: left;
			font-size: 17px;
		}
		input[type="text"]
		{
			height: 5%;
			width: 50%;
			color: #2c3e50;
			font-size: 15px;
			box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
			border:1px solid #aaa;
			font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
			padding:5px 8px;
		}
		#contact_message
		{
			width: 80%;
			height: 100px;
			color: #2c3e50;
			font-size: 15px;
			box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
			border:1px solid #aaa;
			padding:5px 8px;
			font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		}
		input[type=submit]
		{
			border: 1px solid #26A65B;
			margin: 4% 2%;
			padding: 1%;
			width: 20%;
			display: block;
			text-align: center;
			background: #3FC380;
			font-size: 14px;
			color: #2C3E50;
		}
		input[type=submit]:hover
		{
			border: 1px solid #26A65B;
			background: #00B16A;
			font-size: 14px;
		}
	}
	ul
	{
		list-style-position: outside;
		list-style-type: none;
		margin: 0px;
	    padding: 0px;
	}
	li
	{

		position: relative;
		padding: 10px;

	}
}
.notice
{
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 15px;
	height: 30px;
	width: 100%;
	text-align: center;
	background: rgba(0,153,37,0.2);
	color: #009150;
}
.notice p
{
	padding-top: 5px;
}

.form_errors
{
	width: 400px;
	padding: 10px 0px 10px 0px;
	margin: auto;
	h2
	{
		width: 300px;
		text-align: center;
		font-size: 16px;
		color: #E74C3C;
		margin: auto;
		padding: 5px 0px 5px 0px;
		border-bottom: 2px solid rgba(231, 76, 60, 0.5);
		border-top: 2px solid rgba(231, 76, 60, 0.5);
		border-radius: 5px;
	}
	ul
	{
		list-style-type: none;
		list-style-position: outside;
	    padding: 0px;
	    margin: 0px;
	    text-align: center;
	    border-bottom: 1px solid rgba(231, 76, 60, 0.6);
	    border-radius: 5px;
	}
	li
	{
		color: rgba(231, 76, 60, 0.7);
		font-size: 14px;
	}
	li:first-child
	{
		padding-top: 5px;
	}
	li:last-child
	{
		padding-bottom: 5px;
	}
}

/***********contact us form ends**************************************************/

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	
	.logo
	{
		width: 90%;
	}
	.mainHeader img
	{
		width: 33%;
		height: auto;
		float: left;
		padding-left: 3%;
	}
	.mainHeader h2
	{

		border-top: 4px solid #666666;
		border-bottom: 4px solid #666666;
		color: #FFA52A;
		width: 55%;
		float: left;
		font-size: 190%;
		margin: 8% 0 0 3%;
		text-align: center;
		padding: 1px 0 1px 0;
		font-weight: normal;
		font-family: 'Pacifico', cursive;
		text-shadow:
				   -1px -1px 0 #000,  
				    1px -1px 0 #000,
				    -1px 1px 0 #000,
				     1px 1px 0 #000;
	}
	.mainHeader nav
	{
		width: 98%;
		float: left;
		text-align: center;

	}
	.search
	{
		float: left;
		width: 98%;
		margin: 5% 2%;
		text-align: center;
	}
	.mainContent
	{
		width: 92%;
		background: white;
		box-shadow: 0px 20px 20px 0px #c5c5c5;
		margin: 0 auto;
		overflow: hidden;
	}
	.content 
	{
		float: left;
		width: 98%;
	}
	.content article
	{
		margin: 0 2%;
		padding: 4% 0;
		float: left;
		border-bottom: 1px solid #d5d5d5;

	}
	.content article .content-image
	{
		float: left;
		width: 98%;
		text-align: center;
	}
	.content article .right-content
	{
		width: 97%;
		margin: 0 auto;
		/*border: 2px solid black;*/
	}
	.post-title
	{
		width: 95%;
		margin: auto;
		/*text-align: center;*/
	}
	.content article h2 a
	{
		margin: auto;
		color: #de3033;
		font-size: 24px;
		font-weight: bold;
		text-decoration: none;
	}
	.content .page-info
	{
		text-align: center;
		color: #989ca0;
		font-size: 13px;
	}
	.content content p
	{
		width: 95%;
		margin: auto;
		font-size: 15px;
		color: #2c3e50;
	}
	.content content a
	{
		float: right;
		color: #f74447;
		font-size: 16px;

	}
	.mainContent aside
	{
		width: 90%;
		/*float: left;*/
		/*margin: 5% 4% 0% 4%;*/
		border-bottom: 2px solid #de3033;
		margin-bottom: 10%;
	}
	.mainContent aside article h2
	{
		margin: auto;
		text-align: center;
		font-size: 24px;
		color: #2C3E50;
		padding-bottom: 2%;
		border-bottom: 2px solid #de3033;
	}
	.mainContent aside article ul li
	{
		text-align: left;
		padding: 10px 0px;
		border-bottom: 1px solid #2C3E50;
		text-decoration: none;
		font-size: 14px;
		color: #2C3E50;
		
	}
	.mainContent aside article ul li:last-child
	{
		padding: 10px 0px;
		border-bottom: 0px solid #2C3E50;
	}
	.mainFooter p
	{
		width: 100%;
		text-align: center;
		margin: 5% 0;
		color: #F3B562;
		font-size: 14px;
	}
	.contact-me
	{
		width: 90%;
		margin: 5% auto;
		h1
		{
			width: 90%;
			margin: 0 auto;
			padding: 2%;
			color: #2c3e50;
			/*overflow: auto;*/
		}
		form
		{
			padding-bottom: 3%;
			width: 95%;
			margin: auto;
			color: #2c3e50;
			.field_with_errors
			{
				input[type="text"],textarea
				{
					border-top: 2px solid rgba(231, 76, 60, 0.7);	
					border-radius: 2px;
				}
				
			}
			input[type=submit]
			{
				border: 1px solid #26A65B;
				margin: 4% auto;
				padding: 2%;
				width: 80%;
				display: block;
				text-align: center;
				background: #3FC380;
				font-size: 14px;
				color: #2C3E50;
			}
			input[type=submit]:hover
			{
				border: 1px solid #26A65B;
				background: #00B16A;
				font-size: 14px;
			}
			label
			{
				width: 90%;
				float: left;
				font-size: 17px;
			}
			input[type="text"]
			{
				height: 5%;
				width: 94%;
				color: #2c3e50;
				font-size: 15px;
				box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
				border:1px solid #aaa;
				font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
				padding:5px 8px;
			}
			#contact_message
			{
				width: 94%;
				text-align: center;
				height: 100px;
				color: #2c3e50;
				font-size: 15px;
				box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
				border:1px solid #aaa;
				padding:5px 8px;
				font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
			}
		}
	}
}