body
{
	background-image: url('pattern21.png');
	font-size: 87.5%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
}
.public-body
{
	width: 100%;
	margin: 0 auto;
	clear: both;
}
a
{
	text-decoration: none;
}
.mainHeader
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
	border-bottom: 5px solid #FFA52A;
}
.logo
{
	/*overflow: hidden;*/
	padding: 1% 4%;
	width: 30%;
	/*border: 2px solid white;*/
	float: left;
}
.mainHeader h2
{

	border-top: 4px solid #666666;
	border-bottom: 4px solid #666666;
	color: #FFA52A;
	width: 65%;
	float: left;
	font-size: 210%;
	margin: 8% 0 0 3%;
	text-align: center;
	padding: 1px 0 1px 0;
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	text-shadow:
			   -1px -1px 0 #000,  
			    1px -1px 0 #000,
			    -1px 1px 0 #000,
			     1px 1px 0 #000;
}
.mainHeader img
{
	width: 30%;
	height: auto;
	float: left;
}
.mainHeader nav
{
	width: 30%;
	float: left;
	margin: 5.5% 0 0 2%;

}
.mainHeader nav ul
{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.mainHeader nav ul li
{
	display: inline-block;

}
.mainHeader nav ul li a
{
	color: #FFA52A;
	font-size: 17px;	
	padding: 0 15px;
	/*font-weight: bold;*/

}
.search
{
	float: right;
	width: 25%;
	margin: 5% 3% 0 0;
}

.mainContent
{
	width: 90%;
	background: white;
	box-shadow: 0px 20px 20px 0px #c5c5c5;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	/*border: 2px solid black;*/
}
.content 
{
	border-right: 2px solid #d5d5d5;
	margin: 2% 0 2% 2%;
	float: left;
	width: 65%;
}
.content article
{
	/*width: 60%;*/
	margin: 0 4%;
	padding: 4% 0;
	float: left;
	border-bottom: 1px solid #d5d5d5;

}
.content article .content-image
{
	float: left;
	width: 45%;
}
.content article .right-content
{
	width: 55%;
	float: left;
}
.content article h2
{
	margin: 0;
}
.content article h2 a
{
	color: #de3033;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}
.content .page-info
{
	color: #989ca0;
	font-size: 13px;
}
.content content p
{
	font-size: 15px;
	color: #2c3e50;
}
.content content a
{
	float: right;
	color: #f74447;
	font-size: 16px;

}
.mainContent aside
{
	width: 23%;
	float: left;
	margin: 5% 4% 0% 4%;
	border-bottom: 2px solid #de3033;
	/*margin-bottom: 3%;*/
}
.mainContent aside article h2
{
	margin: auto;
	text-align: center;
	font-size: 24px;
	color: #2C3E50;
	padding-bottom: 2%;
	border-bottom: 2px solid #de3033;
}
.mainContent aside article ul li
{
	text-align: left;
	margin-left: -10px;
	padding: 10px 0px;
	border-bottom: 1px solid #2C3E50;
	text-decoration: none;
	font-size: 14px;
	
}
.mainContent aside article a
{
	color: #2C3E50;
}
.mainContent aside article ul li:last-child
{
	padding: 10px 0px;
	border-bottom: 0px solid #2C3E50;
}

.search input[type="text"]
{
	height: 15px;
	width: 200px;
	color: #2c3e50;
	font-size: 14px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border:1px solid #aaa;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding:5px 8px;
}
.search input[type="submit"]
{
	width: 70px;
	height: 28px;
	color: #2c3e50;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	background: #F9C98A;
	display: inline-block;
	text-align: center;
	border: 1px solid #F8B562;
}

.mainFooter
{
	width: 100%;
	background-color: #2C3E50;
	display: inline-block;
}
.mainFooter p
{
	width: 25%;
	margin: 1% 7%;
	color: #F3B562;
	font-size: 14px;
}


@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.logo
	{
		/*overflow: hidden;*/
		padding: 1% 4%;
		width: 100%;
		text-align: center;
		/*border: 2px solid white;*/
		float: left;
	}
	.mainHeader img
	{
		width: 40%;
		height: auto;
		/*float: left;*/
	}
	.mainHeader h2
	{

		border-top: 4px solid #666666;
		border-bottom: 4px solid #666666;
		color: #FFA52A;
		width: 50%;
		float: left;
		font-size: 180%;
		margin: 8% 0 0 2%;
		text-align: center;
		padding: 1px 0 1px 0;
		font-weight: normal;
		font-family: 'Pacifico', cursive;
		text-shadow:
				   -1px -1px 0 #000,  
				    1px -1px 0 #000,
				    -1px 1px 0 #000,
				     1px 1px 0 #000;
	}
	.mainHeader nav
	{
		/*border: 2px solid black;*/
		width: 97%;
		float: left;
		text-align: center;
		margin: 5.5% 0 0 2%;

	}
	.search
	{
		float: left;
		width: 97%;
		margin: 5% 3% ;
		text-align: center;
	}
	.mainContent
	{
		width: 92%;
		background: white;
		box-shadow: 0px 20px 20px 0px #c5c5c5;
		margin: 0 auto;
		overflow: hidden;
		/*border: 2px solid black;*/
	}
	.content 
	{
		/*border-right: 2px solid #d5d5d5;*/
		/*margin: 2% 0 2% 2%;*/
		float: left;
		width: 100%;
	}
	.content article
	{
		/*width: 60%;*/
		margin: 0 4%;
		padding: 4% 0;
		float: left;
		border-bottom: 1px solid #d5d5d5;

	}
	.content article .content-image
	{
		float: left;
		width: 100%;
		text-align: center;
	}
	.content article .right-content
	{
		width: 100%;
		float: left;
	}


	.mainContent aside
	{
		width: 90%;
		/*float: left;*/
		/*margin: 5% 4% 0% 4%;*/
		border-bottom: 2px solid #de3033;
		margin-bottom: 10%;
	}
	.mainContent aside article h2
	{
		margin: auto;
		text-align: center;
		font-size: 24px;
		color: #2C3E50;
		padding-bottom: 2%;
		border-bottom: 2px solid #de3033;
	}
	.mainContent aside article ul li
	{
		text-align: left;
		padding: 10px 0px;
		border-bottom: 1px solid #2C3E50;
		text-decoration: none;
		font-size: 14px;
		color: #2C3E50;
		
	}
	.mainContent aside article ul li:last-child
	{
		padding: 10px 0px;
		border-bottom: 0px solid #2C3E50;
	}
	.mainFooter p
	{
		width: 100%;
		text-align: center;
		margin: 5% 0;
		color: #F3B562;
		font-size: 14px;
	}
}