<div class="back_link">
		<%= link_to("<<Back to category listing", {:action => 'index'}) %>
</div>
<div class="page delete">
	<h3>Delete Page</h3>
	<p> Do you want to delete <%= @category.name %> permanently </p>
	<%= form_for(:category,:html => {:multipart => true}, :url => {:action => 'destroy', :id => @category.id}) do |f| %>
		<%= submit_tag("Delete Category") %>
	<% end %>
</div>