<% if object && object.errors.count > 0 %> 
  <div class = "form_errors">
	<h2><%= pluralize(object.errors.count,"error") %>&nbsp;prohibitted this page to save </h2>
	<ul>
	  <% object.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
  </div>	
<% end %>
