<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'adminlogin', media: 'all' %>
  <!-- <#%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	
</header>
<div id="login_wrap">
 	<%= yield %>
</div>

<footer>
	<p> © 2015, Ashit Rath | All Rights Reserved</p>
</footer>
</body>
</html>
